<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
	<title>Cadastro de Jogadores - UOL</title>
</head>
<body>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 pagina-pricipal">
			<div class="col-md-10 col-md-offset-1 jumbotron">
				<h1>Cadastro </h1>
				<p>Esse é o novo sistema de cadastro de jogadores. Devido ao sucesso da proposta anterior, criamos uma nova forma de cadastro para continuar a diversão, criamos duas listas distintas: "Os Vingadores" e "A Liga da Justiça".</p>
				<div class="caption">
				    <a class="btn btn-primary btn-lg" href="cadastro" role="button">Cadastre mais jogadores</a>
				    <a class="btn btn-primary btn-lg" href="lista" role="button">Lista Jogadores Cadastrados</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>